@{
    ViewData["Title"] = "View Orders Page";
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">current orders</h1>
            <p class="lead fw-normal text-white-50 mb-0">select the station to see orders</p>
        </div>
    </div>
</header>

<div class="holder justify-content-center" id="holders">
</div>
